@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

:root {
  --font: "Anuphan", "Calibri";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: var(--font);
}

.weather {
  height: 100vh;
  background-color: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card {
  /* width: 300px;
  height: 400px;
  background: #fff;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */ 
}